<h1> this deck's name is <%= @deck.name %> </h1>
<h1> there are <%= @deck.cards.count %> cards </h1>
<h1> info about this deck: <%= @deck.description %> </h1>

<% if logged_in? %>
<form action="/decks/<%=@deck.id%>" method = "post">
  <input type = 'submit' value = 'Play Now'/>
</form>
<% else %>
<a href="/users/new">You haven't registered. Click here to register!</a>
<% end %>