<link rel="stylesheet" href="/css/application.css">
<link rel="stylesheet" href="/css/normalize.css">


<h2> Welcome to the <b> REAL </b> Chorus Foxes! </h2>

<div>
<% @decks.each do |deck|%>
<a href="/decks/<%= deck.id%>"><%= deck.name %></a>
<% end %>
</div>
